body * {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noticia Text', "Helvetica Neue", Helvetica, Arial, serif;
}
section.nav > ol, footer.footer {
    background-color: rgba(15,15,15,0.9);
}
footer.footer{
    position: relative;
    bottom: 0;
    padding: 0.5em;
    text-decoration: none;
    color: #fff5dd;
    text-align: center;
    vertical-align: middle;
  }

  section.nav > ol > li.menu-item {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
}
section.nav > ol > li.menu-item > a{
    text-decoration: none;
    color: #fff5dd;
}
section.nav > ol > li.menu-item:hover{
    background-color: #858585;
}
section.nav > ol > li.active{
    background-color: #858585;
}
section#main-container {
    /*background-color: rgba(255, 255, 255,0.3);*/
    opacity: 0.5;
}